*{
    margin: 0 auto;
}
.bagraund {
    background: rgb(4, 14, 41);
    background: linear-gradient(90deg, rgba(4, 14, 41, 1) 0%, rgba(12, 33, 93, 1) 50%, rgba(4, 14, 41, 1) 100%);

}
nav{
    background: rgb(4, 14, 41);
    background: linear-gradient(90deg, rgba(4, 14, 41, 1) 0%, rgba(12, 33, 93, 1) 50%, rgba(4, 14, 41, 1) 100%);  
}
